<div class="footer">
  <div class="items">
    <div class="item">
      <h3>
        Find us on.
      </h3>

      <!-- <div class="social">
        <div class="icon">
          <img src="assets/images/facebook.svg" alt="">
        </div>

        <div class="name">
          <a href="http://" target="_blank" rel="noopener noreferrer">Facebook</a>
        </div>
      </div> -->
      <div class="social">
        <div class="icon">
          <img src="assets/images/instagram.svg" alt="">
        </div>

        <div class="name">
          <a href="https://www.instagram.com/indah_body" target="_blank" rel="noopener noreferrer">Instagram</a>
        </div>
      </div>


      <div class="social">
        <div class="icon">
          <img src="assets/images/twitter.svg" alt="">
        </div>

        <div class="name">
          <a href="https://twitter.com/IndahBody" target="_blank" rel="noopener noreferrer">Twitter </a>
        </div>
      </div>

      <div class="social">
        <div class="icon">
          <img src="assets/images/pinterest.svg" alt="">
        </div>

        <div class="name">
          <a href="https://pin.it/6K0F2xb" target="_blank" rel="noopener noreferrer">Pinterest </a>
        </div>
      </div>


    </div>
    <div class="item">
      <h3>
        NEED HELP?
      </h3>


      <div class="social col-1">
        <div class="name">
          <a routerLink="about">about Indah body</a>
        </div>
      </div>
      <div class="social col-1">
        <div class="name">
          <a routerLink="contact">contact us</a>
        </div>
      </div>

    </div>

    <div class="item">
      <h3>
        terms and conditions
      </h3>






      <div class="social  col-1">
        <div class="name">
          <a routerLink="terms">Terms of service
          </a>
        </div>
      </div>



      <div class="social  col-1">
        <div class="name">
          <a routerLink="returns-policy">Returns Policy

          </a>
        </div>
      </div>


    </div>

  </div>

  <div class="power" >
    <br>
    © {{year}}  Inda'hbody Powered by <a href="http://vigortech.co.za/" target="_blank" rel="noopener noreferrer"><b>VIGOR</b></a>
  </div>
</div>
