<div class="main-container">
  <div class="top-banner">
    <div class=""></div>
    <div class="col" style="display: none;">
    <a href="https://wa.me/27829703889" >  Chat on Whatsapp</a>
    </div>
    <div class="col" (click)="checkout()">
      <span class="material-icons">
        shopping_cart
      </span>

      Cart ({{order?.Products.length}})</div>
  </div>
  <div class="nav">
    <div class="logo col">
      <a routerLink="/">
        <img src="assets/images/logo.png" alt="">
      </a>
    </div>

    <div class="nav-items">
      <ul>
        <li>
          <a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
            <span class="material-icons">
              home
            </span>
            Home
          </a>
        </li>
        <li>
          <a routerLink="about" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
            <span class="material-icons">
              info
            </span>
            About Us
          </a>
        </li>
        <li>
          <a routerLink="products" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
            <span class="material-icons">
              store
            </span>
            Our Products
          </a>
        </li>
        <li>
          <a routerLink="contact" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
            <span class="material-icons">
              mail
            </span>
            Contact Us
          </a>
        </li>

      </ul>
    </div>
    <!-- 
    <div class="menu facebook" (click)="toggle()">
      <a href="https://www.facebook.com/VigorTechSolutions" target="_blank" rel="noopener noreferrer">
        <span class="material-icons">
          facebook
        </span></a>
    </div> -->


    <!-- <div class="menu" (click)="toggle()">
      <span class="material-icons">
        menu
      </span>
    </div> -->
  </div>
  <div id="scroller">
    <router-outlet></router-outlet>
  </div>

<app-footer></app-footer>
</div>
