@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$box-shadow: 0 1px 2px rgba(93, 93, 93, 0.048),
0 3px 6px rgba(0, 0, 0, 0.23);

$max-width: 50em;
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background: #ecf0f1;
  display: block;

  .main-container {
    max-width: 86em;
    height: 100%;
    position: relative;
    margin: 0 auto;
    // background-repeat: no-repeat;
    background-size: auto;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgb(255, 255, 255);
    box-shadow: $box-shadow;
    border: 1px solid rgb(221, 221, 221);
    padding: 0;

  }
}



.main-heading {
  width: 60%;
  margin: 1em auto;
  text-align: center;

  @media only screen and (max-width: 600px) {

    width: 90%;
    font-size: 1.4em;
  }
}

.section {
  background: #fff;
  padding: 2.5em 1em;
  margin: 0;
  color: rgb(42, 42, 42);
  margin: 1em 0;

  @media only screen and (max-width: 600px) {

    padding: .5em;
  }

  h1 {
    text-transform: uppercase;
    font-weight: 400;

    span {
      font-weight: 900;
    }
  }

  p {
    width: 90%;
    margin: 1em auto;
    text-align: center;
  }


  .skin-types {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 1em;
    grid-gap: 1em;
    margin: .5em auto;
    box-sizing: border-box;
    position: relative;
    left: -1em;

    @media only screen and (max-width: 600px) {
      width: 100%;
      grid-template-columns: repeat(1, 100%);
      left: 0em;
      padding: .35em;
    }

    .service {
      background: #fff;
      box-shadow: $box-shadow;
      padding: 1em;
      text-align: center;
      width: 100%;

      h4 {
        font-size: 1.5em;
        text-transform: capitalize;
        padding: 1em;
        padding-bottom: .2em;
        border-bottom: 3px solid #D6B498;
        width: fit-content;
        margin: 0 auto;
      }

      .image {
        width: 100%;
        max-height: 22em;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      span {
        display: block;
      }

      p {
        padding: .5em;
      }
    }
  }

}

p {
  padding: 1em 15em;

  @media only screen and (max-width: 600px) {

    padding: 1em;
  }
}



.form {
  max-width: 40em;
  margin: 2em auto;
}

input,
textarea {
  padding: 1em;
  margin-bottom: 2em;
  border: 3px solid black;
  width: 100%;
}

textarea {
  height: 10em;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(88, 88, 88, 0.438);
  z-index: 100000;
  top: 0;
  left: 0;

  .body {
    max-width: 20em;
    margin: 7em auto;
    background: #fff;
    padding: 1em;
    text-align: center;

    p {
      font-weight: 600;
      padding: 1em;
    }

    button {
      margin: 1em 0;
      padding: 1em;
      background: #D6B498;
      color: #000;
      font-weight: 600;
      cursor: pointer;
    }
  }


}

button {
  margin: 1em 0;
  padding: 1em;
  background: white;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border: 3px solid #000;
  width: 100%;
  max-width: 15em;

  &:disabled {
    opacity: .4;
    cursor: no-drop;
  }

}

.primary {
  background: #D6B498;
  color: #000;
  border: 3px solid #c5a081;

}

.error {
  display: block;
  padding: 1em;
  margin: 1em 0;
  background: rgba(255, 0, 0, 0.096);
  color: #000;
  text-align: center;
  max-width: 50em;
  margin: 0 auto;
}
.scrolls{
  position: absolute;
  width: 100%;
  top: 40%;
  left: 0;
  display: grid;
  grid-template-columns: 50% auto;
  span{
    display: block;
    padding: .2em 1em;
    cursor: pointer;
    &:last-child{
      text-align: right;
    }
  }
}

.max-width{
  max-width: $max-width;
  margin: 0 auto;
}
@keyframes moveInLeft {
  0% {
    transform: translateX(-250px);
  }



  100% {
    transform: translate(0);
  }
}

@keyframes menuSlide {
  0% {
    height: 0;
  }



  100% {
    height: 100%;
  }
}


@keyframes moveInRight {
  0% {
    transform: translateX(250px);
    opacity: 0;
  }


  100% {
    transform: translateX(0);
  }
}


::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #ecf0f1;
}

::-webkit-scrollbar {
  width: 7px;
  height: 8px;
  background-color: transparent;

  @media only screen and (max-width: 600px) {
    height: 0;
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #2c3e50;
  box-shadow: none;
  cursor: pointer;
}
