<div class="section">

  <h1 class="main-heading">
    about <span>us.</span>
  </h1>
  <p>

    Indah body is a brand that will not only ensure that it puts its consumers first, but we will ensure that we give
    more than just body and skincare products. We will reveal selfcare tips, psychological insights of taking care of
    your wellbeing whilst using our products.


  </p>
  <p>
    Indah body will make sure that it maintains its african whilst reaching beyond international borders, and make sure
    it appeals to all nations.
  </p>

  <p>
    We will engage with our consumers on aspects of bettering our products.
    As they say "you can't pour from an empty cup," indah body will ensure your cup is always full to pour onto others
    in your daily life. We will ensure your body is always rejuvenated to take on the next task, duty or role in your
    life.
  </p>

  <p>

    You will get the best service with our products and we will ensure that your selfcare days do more to your soul as
    it will to your body.
    welcome ot indah affair
  </p>
  <div class="skin-types">


  </div>

</div>
